<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MailKit_Template_Mail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <applicationSettings>
    <MailKit_Template_Mail.Properties.Settings>
      <setting name="emailFrom" serializeAs="String">
        <value>tiennhm.it@gmail.com</value>
      </setting>
      <setting name="emailHost" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="emailPort" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="emailUsername" serializeAs="String">
        <value>tiennhm.it@gmail.com</value>
      </setting>
      <setting name="emailPassword" serializeAs="String">
        <!-- Leave empty; set the SMTP_PASSWORD environment variable instead -->
        <value></value>
      </setting>
    </MailKit_Template_Mail.Properties.Settings>
  </applicationSettings>
</configuration>